html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background: $base-bg;
  color: $base-color;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

main {
  @include breakpoint($tablet) {
    display: flex;
    height: calc(100% - 10em);
  };

  .locations,
  .map {
    @include breakpoint($tablet) {
      flex: 1;
      height: 100%;
      overflow: scroll;
    }
  }
}

a,
.link {
  color: inherit;
  cursor: pointer;
  text-decoration: underline;
}
